body {
    /*margin: 0 0 0 0;
    padding: 0 0;*/
    font-family: "Roboto", sans-serif;
    background-color: darkturquoise;
}

.container {
    background-color: #ffffff;
    padding: 1.0em 1.0em;
}

header {
    padding-top: 2.0em;
}

h1, h2, h3 {
    font-weight: 200;
}

h6 {
    font-size: 2.0rem;
}

pre {
    overflow-x: auto;
}

.noendpad {
    margin-bottom: 0;
}

.subtitle {
    color: darkgrey;
}

.code {
    font-family: Courier New, Courier, monospace;
    color: darkblue;
}

figure {
    margin: 0;
}

.desc-img {
    width: 100%;
    height: auto;
}

.caption {
    text-align: center;
}

.example {
    all: initial;
    background-color: initial;
}

.points {
    color: darkblue;
}

.crazy {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
}