body {
    /*margin: 0 0 0 0;
    padding: 0 0;*/
    font-family: "Open Sans", Arial, sans-serif;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top-center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 206, 209, 0.5)), to(rgba(140, 206, 209, 0.5))), url(http://i285.photobucket.com/albums/ll53/ellee2012/Cute/0-75.png);
    background-image: -webkit-linear-gradient(top, rgba(0, 206, 209, 0.5), rgba(140, 206, 209, 0.5)), url(http://i285.photobucket.com/albums/ll53/ellee2012/Cute/0-75.png);
    background-image: -moz-linear-gradient(top, rgba(0, 206, 209, 0.5), rgba(140, 206, 209, 0.5)), url(http://i285.photobucket.com/albums/ll53/ellee2012/Cute/0-75.png);
    background-image: linear-gradient(to bottom, rgba(0, 206, 209, 0.5), rgba(140, 206, 209, 0.5)), url(http://i285.photobucket.com/albums/ll53/ellee2012/Cute/0-75.png);
    /*background: darkturquoise;*/
    /*00ced1*/
}

.container {
    background-color: #ffffff;
    padding: 1.0em 1.0em;
}

::selection {
    background-color: #a0d2ff;
}

header {
    padding-top: 2.0em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-weight: 200;
}

h6 {
    font-weight: 400;
    font-size: 2.0rem;
}

pre {
    overflow-x: auto;
}

.noendpad {
    margin-bottom: 0;
}

.subtitle {
    color: darkgrey;
}

.code {
    font-family: Courier New, Courier, monospace;
    color: darkblue;
}

figure {
    margin: 0;
}

.desc-img {
    width: 100%;
    height: auto;
}

.caption {
    text-align: center;
}

.example {
    all: initial;
    background-color: initial;
}

.points {
    color: darkblue;
}

.crazy {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
}

.intro {
    font-size: 60px;
    color: black;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.no-underline {
    text-decoration: none;
}